body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInputInput {
  padding: 15px;
}
.PhoneInputInput:focus {
  outline: none;
}

.dropdownBar{
  animation: dropdown 0.5s cubic-bezier(0.25,0.46,0.45,0.94) both;
}

@keyframes dropdown {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}